mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    margin-top: 10px;
  }
  
  /* Styling for datepicker */
  .mat-datepicker-toggle {
    color: #000;
  }
  
  .mat-form-field {
    width: 100%;
  }