<div class="calendar">
    <app-appointment-form (add)="addAppointment($event)"></app-appointment-form>
    <div class="appointments" cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let appointment of appointments" class="appointment" cdkDrag>
        <span>{{ appointment.title }} | {{ appointment.date | date: 'dd MMMM yyyy' }}</span>
        <button mat-icon-button (click)="deleteAppointment(appointment)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  